/* Error: expected "{".
 *    ,
 * 68 | <<<<<<< HEAD
 *    |             ^
 *    '
 *   scss\2-sections\_trusted-by.scss 68:13  @use
 *   scss\2-sections\sections.scss 4:1       @use
 *   scss\main.scss 3:1                      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 68 \2502  <<<<<<< HEAD\d\a    \2502              ^\a    \2575 \a   scss\\2-sections\\_trusted-by.scss 68:13  @use\a   scss\\2-sections\\sections.scss 4:1       @use\a   scss\\main.scss 3:1                      root stylesheet';
}
