@use '../1-base/_variables';
@use '../1-base/_styles';
@use '../0-utils/_mixins';

.faq__container {
    @extend %section-spacer;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    // x-small
    @include mixins.respond-to('x-small') {
        display: block;
    }

}

.faq {
    max-width: 1250px;
    margin: 0 auto;

    // x-small
    @include mixins.respond-to('x-small') {
        width: 100%;
    }
    &__header {
        flex: 0 0 25%;
        position: -webkit-sticky; /* Para navegadores mais antigos */
        position: sticky;
        top: 116px;
        z-index: 0;

    // x-small
    @include mixins.respond-to('x-small') {
        display: block;
        margin: 0 1rem;
        position: static;
        text-align: center;
    }

        h2 {
            @extend %text-left-gradient;
            @extend %title-text;

    // x-small
    @include mixins.respond-to('x-small') {
        background: linear-gradient(to right, variables.$gradient-primary 40%, variables.$gradient-secondary 60%);
        color: transparent; 
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;    
    }

            
        }
        p {
            @extend %subtitle-text;
            padding-bottom: 1.2rem;
        }

    
    }
    &__accordion {
        flex: 0 0 70%;
        display: block;
        width: 100%;

        &__item {
            border-radius: 12px;
            background-color: variables.$card-bg-color;
            margin-bottom: 1.4rem;
            transition: .4s;
            
            &:hover {
                cursor: pointer; 
                background-color: lighten(variables.$card-bg-color, 4%);
            }

            // x-small
    @include mixins.respond-to('x-small') {
        &:hover {
            background-color: variables.$card-bg-color;
        }
    }

            &.active {
                cursor: pointer; 
                background-color: lighten(variables.$card-bg-color, 4%);
            }
            @include mixins.respond-to('x-small') {
                &.active {
                    background-color: variables.$card-bg-color;
                }
            }
            
        }
    }
    &__question {
        width: 100%;
        padding: 2rem;
        background-color: transparent; /* Transparente para herdar a cor de fundo do contêiner pai */
        color: variables.$text-special-color;
        font-family: variables.$primary-font;
        font-size: 1rem;
        text-align: left;  
        font-weight: 600;
        cursor: pointer;
        border: none;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        transition: background-color 0.4s ease, color 0.4s ease;
        display: flex;
        line-height: 1;
        justify-content: space-between;
        align-items: start;

         // x-small
    @include mixins.respond-to('x-small') {
     line-height: 1.3;
    }
        i {
            font-size: .8rem;
            margin-left: 1rem;
            
        }
    }
    &__answer {
        padding: 0rem 2rem 2rem 2rem;
        font-family: variables.$primary-font;
        font-size: 1rem;
        text-align: left;  
        color: variables.$text-off-white85-color;
        font-weight: 300;
        display: none;
        cursor: auto;
        transition: opacity 0.4s ease;
    }
}

.rotate-icon {
    rotate: 180deg;
}