@use '../1-base/_variables';
@use '../1-base/_styles';
@use '../3-components/components.scss';


.hiw__container {
    @extend %section-spacer;
    padding: 2rem;
    max-width: 1250px;
    margin: 0 auto;
}

.hiw__text {
    @extend %subtitle-text;
    text-align: center;
    margin-bottom: 2rem;

    h2 {
       @extend %title-text;
        @extend %text-gradient;
    }
}

.hiw__cards {
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 2rem; 
}

.hiw__cards__item {
    &--height {
        height: 400px;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card__animation {
        width: 100%;
    }
    h3 {
        font-size: 1.8rem;
        color: variables.$text-off-white85-color; 
        line-height: 1.2;
    }
    p {
        color: variables.$text-off-white45-color; 
    }
    .hiw__animation {
        display: flex;
        align-items: center;
        justify-content: baseline;
        height: 6.5rem;
    }

    text-align: center;
    padding: 3.5rem 2.8rem;
    background-color: #2c2c2c; 
    width: 100%;
    box-sizing: border-box;
    border-radius: 16px;
}