@use '../1-base/variables';
@use '../3-components/components.scss';


#header {
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 3.5rem;
    backdrop-filter: blur(18px);
    @extend %border-bottom-gradient;


    &__logo {
        flex: 1;

        &-img {
            height: 2.4rem; 
        }
    }

    &__menu {
        flex: 2;
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;

        &-item {

            padding-right: 2rem;
            transition: ease-in-out .4s;
            cursor: pointer;
        }

        &-link {
            color: variables.$text-off-white45-color;
            text-decoration: none;
            font-size: 1rem;
            transition: .4s;

            &:hover {
                color: variables.$text-off-white85-color;
            }
        }
    }

    &__contact {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        
        %border-gradient {
            box-shadow: inset 0 0 0 .6px rgba(255, 255, 255, 0.048);
          }
          
          &-button {
            @extend %btn;
            @extend %border-gradient;
          }
    }
}