@use '../1-base/variables';
@use '../1-base/styles';
@use '../0-utils/mixins';

.trusted {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid;
    @extend %border-bottom-gradient;
   
    
  
    &__brands {
      margin-bottom: 3rem; 
      text-align: center;  

      @include mixins.respond-to('mobile') {
        margin-bottom: 2rem;
        }
      p {
        @extend %subtitle-text;
        margin-bottom: 0;
        color: variables.$text-off-white85-color;

        @include mixins.respond-to('mobile') {
          font-size: 0.8rem;
          }
      }
  
      ul {
        display: flex;
        justify-content: center;
  
        li {
          margin: 0 1rem;
          color: variables.$text-off-white45-color;
          font-size: 36px;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 2px;

          @include mixins.respond-to('mobile') {
            margin: 1rem 0.2rem;
            font-size: 14px;
            letter-spacing: 0.4px;
            }
        }
  
        img {
          height: 46px;
          opacity: 80%; 
          width: auto;

          @include mixins.respond-to('mobile') {
           height: 20px;
           }
        }
      }
    }
  }