@use '../1-base/variables';
@use '../1-base/styles';

.trusted {
    display: flex;
    flex-wrap: wrap;
    margin: 0 24px;
    margin-bottom: 36px;
    justify-content: space-between;
    align-items: first baseline;
    
    
    
    &__world {
      text-align: end;
      p {
        @extend %subtitle-text;
        margin-bottom: .4rem;

        margin-top: 1rem;
        color: variables.$text-off-white85-color;
      }
      ul {
        display: inline-flex;
        gap: 1rem;

        li {
          img {
            height: 22px;
          }
        }
       

  }
    }

    &__results {
      margin-bottom: 3rem;

      ul {
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;
  
       
  }
}
  
    &__brands {
      margin: 1rem 0;   
      p {
        @extend %subtitle-text;
        margin-bottom: .4rem;
        margin-left: .4rem;
        color: variables.$text-off-white85-color;
      }

      
  
      ul {
        display: inline-flex;
        gap: 1rem;
        text-align: start;
  
        li {
          color: variables.$text-off-white45-color;
          font-size: 20px;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
  
        img {
          height: 28px;
          opacity: 80%; 
        }
      }
    }
  }
