// Estilos específicos, como os de títulos e subtítulos

@use '_variables';

// Títulos h2
%title-text {
    font-size: 3rem;
    font-weight: 700;
}

// Subtítulos h3
%subtitle-text {
    font-size: 1rem;
    color: variables.$text-off-white85-color;
    font-weight: 300;
}

// Parágrafos
%p-text {
    font-size: 1rem;
    // color: $text-white-color;
    font-weight: 200;
    color: variables.$text-off-white85-color;
}